/* FONT PATH
* -------------------------- */

@font-face {
  font-family: 'AFont';
  src: url('#{$af-font-path}/afont-webfont.eot?v=#{$af-version}');
  src: url('#{$af-font-path}/afont-webfont.eot?#iefix&v=#{$af-version}') format('embedded-opentype'),
    url('#{$af-font-path}/afont-webfont.woff2?v=#{$af-version}') format('woff2'),
    url('#{$af-font-path}/afont-webfont.woff?v=#{$af-version}') format('woff'),
    url('#{$af-font-path}/afont-webfont.ttf?v=#{$af-version}') format('truetype'),
    url('#{$af-font-path}/afont-webfont.svg?v=#{$af-version}#fontawesomeregular') format('svg');
//  src: url('#{$af-font-path}/AFont.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}
